/* Estilo padrão = celular */
.container {
    width: 100%;
    padding: 1rem;
}

/* A partir de 768px (tablet / desktop) */
@media (min-width: 768px) {
    .container {
        width: 700px;
        margin: 0 auto;
    }
}